@import '../helpers/_variable';

#blog-post-item
{
  padding-left: 10px;
  @media (min-width: 1024px) {
    padding-left: 50px;
  }
}

@media (max-width: 450px){
  #whole-content{
    padding: 0px;
  }
}

#content
{
  background-color: #fff;
}