.row
  .col-xs-12#blog-post-item
    %h1
      %i.fa.fa-comments
      Contact Us
    %hr
    .row
      .col-xs-12.col-md-7#contact-cotainer
        %form#contact-form{:action => "https://formspree.io/#{current_theme.the_field('email-setting')}", :method => "POST"}
          .row
            .col-xs-12.col-md-12
              %input.form-control{:name => "Name", :type => "text", placeholder: "Name"}
          %br
          .row
            .col-xs-12.col-md-12
              %input.form-control{:name => "Email", :type => "email", placeholder: "Email"}
          %br
          .row
            .col-xs-12.col-md-12
              %input.form-control{:name => "Subject", :type => "text", placeholder: "Subject"}
          %br
          .row
            .col-xs-12.col-md-12
              %textarea.form-control{:name => "Message", placeholder: "Message", rows: "10"}
          %hr
          %button.btn.btn-primary{:type => "submit"}
            %i.fa.fa-envelope-o
            Send Message
      
      .col-xs-12.col-md-5#contac-detail.text-center
        = image_tag current_site.the_logo, style: "width: 50%"
        %hr
        %p I am happy to contact you back in any case. Please feel free to send me a message. I am looking forward to for your message.
        %a#call-link{:href => "tel:#{current_theme.the_field('first-phone-number-setting')}"}
          Call me at
          = current_theme.the_field('first-phone-number-setting')
