= form_tag(cama_search_path, :method => "get", :class => "form-search form-horizontal") do
  .input-group
    %input{:name => "blog-post", :type => "hidden", :value => "books"}/
    %input.form-control{:name => "q", :placeholder => "#{ct("search", default: 'Search here')}...", :type => "text"}/
    .input-group-btn
      %button.btn.btn-default{:type => "submit"}
        %i.glyphicon.glyphicon-search{:style => "font-size: 14px;"}
